In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(f"E:/DS2023/Books/KLTN/cross-selling/dataset/santander-product-recommendation/test_ver2/test_ver2.csv")

C:\Users\Admin\AppData\Local\Temp\ipykernel_15048\236094962.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(f"E:/DS2023/Books/KLTN/cross-selling/dataset/santander-product-recommendation/test_ver2/test_ver2.csv")

In [3]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,indext,conyuemp,canal_entrada,indfall,tipodom,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
0,2016-06-28,15889,F,ES,V,56,1995-01-16,0,256,1,...,N,N,KAT,N,1,28.0,MADRID,1,326124.90,01 - TOP
1,2016-06-28,1170544,N,ES,H,36,2013-08-28,0,34,1,...,N,NaN,KAT,N,1,3.0,ALICANTE,0,NA,02 - PARTICULARES
2,2016-06-28,1170545,N,ES,V,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,15.0,"CORUÑA, A",1,NA,03 - UNIVERSITARIO
3,2016-06-28,1170547,N,ES,H,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,8.0,BARCELONA,0,148402.98,03 - UNIVERSITARIO
4,2016-06-28,1170548,N,ES,H,22,2013-08-28,0,34,1,...,N,NaN,KHE,N,1,7.0,"BALEARS, ILLES",0,106885.80,03 - UNIVERSITARIO

In [4]:
df.shape

(929615, 24)

In [5]:
df["ncodpers"].nunique()

929615

In [8]:
df["datetime"] = pd.to_datetime(df["fecha_dato"])

In [14]:
df_train = pd.read_csv("./train_adjusted.csv")

C:\Users\Admin\AppData\Local\Temp\ipykernel_15048\647137437.py:1: DtypeWarning: Columns (6,9,12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train = pd.read_csv("./train_adjusted.csv")

In [15]:
import pandas as pd

filtered_df = df[df['ncodpers'].isin(df_train['ncodpers'])]

In [16]:
df_groupby = filtered_df.groupby("datetime").size().reset_index(name="number_of_customer")
df_groupby

    datetime  number_of_customer
0 2016-06-28               93745

In [24]:
filtered_df.shape

(93745, 25)

In [25]:
filtered_df.to_csv("test_adjusted.csv")